body {
	text-align      : center;
	display         : -webkit-box;
	display         : -ms-flexbox;
	display         : flex;
	-webkit-box-pack: center;
	-ms-flex-pack   : center;
	justify-content : center;

	div {
		max-width: 400px;
		margin   : 0 50px;
	}

	h3 {
		text-align: center;
	}

	button {}

	label {
		display: block;
	}

	input {
		display   : block;
		width     : 100px;
		text-align: center;
		margin    : 5px auto;
	}

	.result {
		font-weight: bold;

		.result__calc {
			color: red;
		}
	}
}